.container{
    padding:10px;
    font-family: sans-serif;
    font-size:16px;
    display: flex;
    justify-content: space-around;
}


.container .header input{
    padding: 10px;
    border: 2px solid #fff;
    width: 165px;
}


.container .header button{
padding: 10px;
background:seagreen;
color: white;
}
.container .header button:hover{
    background:darkolivegreen;
    }

.container p{
    color:black;
}

ul{
    margin-left: 0px;
    padding-left: 0px;
}

.thelist li{
    padding: 12px;
    list-style-type: none;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: lightcyan;
}

.thelist li:hover{
    background: lightsalmon;
}


